[submodule "strusBase"]
	path = strusBase
	url = ../strusBase
	branch = master
[submodule "strus"]
	path = strus
	url = ../strus
	branch = master
[submodule "strusAnalyzer"]
	path = strusAnalyzer
	url = ../strusAnalyzer
	branch = master
[submodule "strusTrace"]
	path = strusTrace
	url = ../strusTrace
	branch = master
[submodule "strusModule"]
	path = strusModule
	url = ../strusModule
	branch = master
[submodule "strusVector"]
	path = strusVector
	url = ../strusVector
	branch = master
[submodule "strusPattern"]
	path = strusPattern
	url = ../strusPattern
	branch = master
[submodule "strusRpc"]
	path = strusRpc
	url = ../strusRpc
	branch = master
[submodule "strusUtilities"]
	path = strusUtilities
	url = ../strusUtilities
	branch = master
[submodule "strusBindings"]
	path = strusBindings
	url = ../strusBindings
	branch = master
