[submodule "strusBase"]
	path = strusBase
	url = https://github.com/patrickfrey/strusBase
	branch = master
[submodule "strus"]
	path = strus
	url = https://github.com/patrickfrey/strus
	branch = master
[submodule "strusAnalyzer"]
	path = strusAnalyzer
	url = https://github.com/patrickfrey/strusAnalyzer
	branch = master
[submodule "strusTrace"]
	path = strusTrace
	url = https://github.com/patrickfrey/strusTrace
	branch = master
[submodule "strusModule"]
	path = strusModule
	url = https://github.com/patrickfrey/strusModule
	branch = master
[submodule "strusVector"]
	path = strusVector
	url = https://github.com/patrickfrey/strusVector
	branch = master
[submodule "strusRpc"]
	path = strusRpc
	url = https://github.com/patrickfrey/strusRpc
	branch = master
[submodule "strusUtilities"]
	path = strusUtilities
	url = https://github.com/patrickfrey/strusUtilities
	branch = master
[submodule "strusPattern"]
	path = strusPattern
	url = https://github.com/patrickfrey/strusPattern
	branch = master
[submodule "strusBindings"]
	path = strusBindings
	url = https://github.com/patrickfrey/strusBindings
	branch = master
